{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}DENR NCR{% endblock %} | PAYGES
    </title>
    {% include 'includes/imports.html' %}
    {% include 'includes/loader.html' %}
</head>
{% block app_content %}
{% endblock %}

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    headers: { "X-CSRFToken": csrftoken }
});

// Optimized Loader 
window.onbeforeunload = function () {
    setTimeout(function () {
    $('#loading').show();
    }, 1000);
}

$(document).ready(function () {
    setTimeout(function () {
    $('#loading').hide();
    }, 1000);
});

window.addEventListener('pageshow', function (event) {
    if (event.persisted || performance.navigation.type === 2) {
        setTimeout(function () {
            $('#loading').hide();
        }, 1000);
    }
});
</script>
</html>